# === Gradle ===
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# === IntelliJ IDEA / JetBrains IDEs ===
.idea/
*.iml
*.ipr
*.iws

# === Eclipse ===
.project
.classpath
.settings/

# === VS Code ===
.vscode/

# === Java ===
*.class
*.log

# === ОСные файлы ===
.DS_Store
Thumbs.db
