spring:
  application:
    name: driver-service

  datasource:
    url: jdbc:postgresql://localhost:5432/drivers_db
    username: test
    password: test
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

server:
  port: 8081
