spring:
  application:
    name:
      practice-7-real-time-reactive-app

  r2dbc:
    url: "r2dbc:h2:file:///./practice-7-real-time-reactive-app/data/testdb?DB_CLOSE_ON_EXIT=FALSE"
    username: sa
    password:

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
